<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>BOTZIN</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<section class="msger">
    <header class="msger-header">
        <div class="msger-header-title">
            <h1>Botzin</h1>
        </div>
    </header>
    <main class="msger-chat">
    </main>
    <form class="msger-inputarea">
        <input type="text" class="msger-input" id="textInput" placeholder="Digite aqui...">
        <button type="submit" class="msger-send-btn">Enviar</button>
    </form>
</section>

<script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
<script>
    const msgerForm = get(".msger-inputarea");
    const msgerInput = get(".msger-input");
    const msgerChat = get(".msger-chat");

    const BOT_IMG = "static/assets/bot.png";
    const USER_IMG = "static/assets/user.png";
    const BOT_NAME = "Botzin";
    const USER_NAME = "Você";

    msgerForm.addEventListener("submit", event => {
        event.preventDefault();

        const msgText = msgerInput.value;
        if (!msgText) return;

        appendMessage(USER_NAME, USER_IMG, "right", msgText);
        msgerInput.value = "";
        botResponse(msgText);
    });

    function appendMessage(name, img, side, text) {
        const msgDOM = `
<div class="msg ${side}-msg">
  <div class="msg-img" style="background-image: url(${img})"></div>

  <div class="msg-bubble">
    <div class="msg-info">
      <div class="msg-info-name">${name}</div>
      <div class="msg-info-time">${formatDate(new Date())}</div>
    </div>

    <div class="msg-text">${text}</div>
  </div>
</div>
`;

        msgerChat.insertAdjacentHTML("beforeend", msgDOM);
        msgerChat.scrollTop += 500;
    }

    function botResponse(rawText) {

        // Bot Response
        $.get("/chat-input", {msg: rawText}).done(function (data) {
            const text = data;
            appendMessage(BOT_NAME, BOT_IMG, "left", text);

        });

    }

    function get(selector, root = document) {
        return root.querySelector(selector);
    }

    function formatDate(date) {
        const h = "0" + date.getHours();
        const m = "0" + date.getMinutes();

        return `${h.slice(-2)}:${m.slice(-2)}`;
    }


</script>

</body>

</html>